.places{
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  gap: 80px;
}

@media (max-width: 1280px) {
  .places {
    max-width: 928px;
  }
}

@media (max-width: 1024px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 320px;
  }
}