.places{
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr;
  gap: 80px;
  width: calc(100% - 2 * 148px);
}

@media (max-width: 1279px) {
  .places {
    width: calc(100% - 2 * 48px);
  }
}

@media (max-width: 1023px) {
  .places {
    width: calc(100% - 2 * 24px);
    gap: 73px;
  }
}

@media (max-width: 767px) {
  .places {
    width: 100%;
    gap: 64px;
  }
}