.footer__copyright{
  padding: 0;
  margin: 0;
  justify-self: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 767px) {
  .footer__copyright{
    margin-top: 48px;
  }
}