.intro__title{
  padding: 0;
  margin: 92px auto 0 auto;
  text-align: left;
  line-height: 58px;
  font-size: 54px;
  font-weight: 900;
}

@media (max-width: 1023px) {
  .intro__title{
    margin: 88px auto 0 auto;
  }
}

@media (max-width: 767px) {
  .intro__title{
    margin: 64px auto 0 auto;
    font-size: 32px;
    line-height: 35px;
  }
}